* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align:center;
}

#cabecera {
    height: 90px;
    background-color: #CCF4FB;
    color: black;
    font-size: 34px;
    border-radius: 0 0 35px 35px;
    text-align: center;
    margin: 0 0 50px 0;
}
body{

    align-items:center;
    justify-content:center;
}
#tablero2 {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 0 25px 0;
}
table{
    border-collapse:collapse;
    margin: 0 auto;

}
.boton {
    background: #FFFFFF;
    padding: 6px 40px;
    font-size: 21px;
    border: 1px solid;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
}

    .boton:hover {
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        background: #C2F8FE;
    }
td {
    border: 1px solid;
    height: 48px;
    width: 53px;
    margin: 0;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    align-content: center;
    background: #93C85A;
}
.esquina {
    background: #FEF9C4;
}
#credenciales1 , #credenciales2 {
    border: 1px solid;
    font-size: 20px;
    width: 49.9%;
    font-weight: bold;
    float: left;
}
#datos1 {
    width: 100%;
    display: inline-block;
    clear: both;
}
#datos2 {
    margin: 0 0 30px 0;
    width: 100%;
    display: inline-block;
    clear: both;
}

.ficha {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    border:0;
    background: #93C85A;
}
#campo {
    height: 68px;
    background-color: #CCF4FB;
    color: black;
    align-content: center;
    display: block;
    padding: 15px 13px;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 25px 0;
}
#campoMenu {
    height: 45px;
    color: black;
    float:left;
    vertical-align: middle;
    margin: 0 0 5px 0;
}