* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
#cabecera {
    height: 90px;
    background-color: #CCF4FB;
    color: black;
    font-size: 30px;
    border-radius: 0 0 35px 35px;
    text-align: center;
    margin: 0 0 65px 0;
}

#titulo {
    height: 55px;
    background-color: #CCF4FB;
    color: black;
    font-size: 29px;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 10px;
    font-weight: bold;
}
#campo {
    height: 50px;
    background-color: #E6E9EA;
    color: black;
    padding: 13px;
    font-size: 20px;
    vertical-align: central;
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: bold;
}

#boton {
    height: 30px;
    color: black;
    font-size: 22px;
    vertical-align: central;
    text-align: center;
    margin: 0 0 15px 0;
    font-weight: bold;
}


#txtUsuario, #txtPassword, #txtNombres, #txtApellidos, #txtFecha, #drpPais, #txtCorreo,  #btnRegistrar {
    border-radius: 6px;
}